<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SystemOS - Sistema de Ordem de Serviços</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% include "layouts/includes/assets_header.twig" %}

        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>S</b>OS</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>System</b>OS</span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                          <!-- User Account Menu -->
                          <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <!-- hidden-xs hides the username on small devices so only the image appears. -->
                              <span class="hidden-xs">
                                  {% if (session.usuario.nome) %}
                                    {{ session.usuario.nome }}
                                  {% else %}
                                    {{ session.cliente.nome }}
                                  {% endif %}
                              </span>
                            </a>
                          </li>
                          <!-- Control Sidebar Toggle Button -->
                          <li>
                            <a id="btn-logout" href="#"><i class="fa fa-fw fa-sign-out"></i>Sair</a>
                          </li>
                        </ul>
                      </div>
                </nav>
            </header>

            <form id="logout" action="/logout" method="POST">
            </form>

            {% include "layouts/includes/aside_menu.twig" %}

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">

              <!-- Content Header (Page header) -->
              <section class="content-header">
                  {% block content_header %}
                      <h1>
                          Título da página
                          <small>Descrição opcional</small>
                      </h1>
                      <ol class="breadcrumb">
                          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                          <li class="active">Here</li>
                      </ol>
                  {% endblock %}
              </section>

                <!-- Main content -->
                <section class="content container-fluid">
                    {% block content %} <p> CONTEUDO DA PAGINA</p> {% endblock %}
                </section>
                <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->

          <!-- Main Footer -->
          <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
              "<i>A persistência é o caminho do êxito (Charles Chaplin)</i>"
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2017 <a href="#">SYSTEMOS</a>.</strong> Todos os direitos reservados.
          </footer>

          <!-- Control Sidebar -->
          <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
              <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
              <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <!-- Home tab content -->
              <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                  <li>
                    <a href="javascript:;">
                      <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                      <div class="menu-info">
                        <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                        <p>Will be 23 on April 24th</p>
                      </div>
                    </a>
                  </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                  <li>
                    <a href="javascript:;">
                      <h4 class="control-sidebar-subheading">
                        Custom Template Design
                        <span class="pull-right-container">
                            <span class="label label-danger pull-right">70%</span>
                          </span>
                      </h4>

                      <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!-- /.control-sidebar-menu -->

              </div>
              <!-- /.tab-pane -->
              <!-- Stats tab content -->
              <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
              <!-- /.tab-pane -->
              <!-- Settings tab content -->
              <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                  <h3 class="control-sidebar-heading">General Settings</h3>

                  <div class="form-group">
                    <label class="control-sidebar-subheading">
                      Report panel usage
                      <input type="checkbox" class="pull-right" checked>
                    </label>

                    <p>
                      Some information about this general settings option
                    </p>
                  </div>
                  <!-- /.form-group -->
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
          </aside>
          <!-- /.control-sidebar -->
          <!-- Add the sidebar's background. This div must be placed
          immediately after the control sidebar -->
          <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->

        {% include "layouts/includes/assets_footer.twig" %}
        <script>
            $("#btn-logout").click(function ( event ) {
                event.preventDefault();
                $('#logout').submit();
            });
        </script>
        <script></script>
        {% block js %}{% endblock %}
    </body>
</html>
